 * {
  text-rendering: optimizelegibility;
 }
 .clr-icon {
  &.clr-clarity-logo {
    /*background-image: url(./img/ucclogo.png);*/
  }
}
clr-header {
    background-color: #082450;
    background: linear-gradient(to right, #0288d1, #29b6f6);
}
.mobile-hidden{
  display: none;
}
.subnav-hidden {
  display: none
}
@media screen and (min-width: 480px) {
  .mobile-hidden{
    display: flex;
  }
}
.clr-icon {
  &.erad-notif {
    /*background-image: url(./img/ic_account_circle_white_24px.svg);*/
    background-image: 200%;
  }
}
.dropdown-menu {
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
  transition: all .075s ease;
}
.header-actions .dropdown-menu {
  padding: 0 34px;
  width: 272px;
}
.dropdown-menu .av {
  float: left;
  margin: 0 17px 0 0;
  position: relative;
  background: #f9f9fb;
  border-radius: 3px;
  line-height: 17px;
  font-family: "Open Sans",open-sans,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  color: #5f697a;
}
.md-menu {
  background: white;
  padding: 10px;
}
.dropdown-menu .uploader #user_dropdown_avatar_uploader_button {
  background: rgba(100,181,246,.7);
  height: 100%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  position: absolute;
  top: 0;
  left: 0;
}
.links .logout {
    color: #abb4c5;
}
.dropdown-menu .av:hover #user_dropdown_avatar_uploader_button, .dropdown-menu .uploader.uploading #user_dropdown_avatar_uploader_button {
    opacity: 1;
}
.dropdown-menu .uploader #user_dropdown_avatar_uploader_button span {
    display: block;
    margin: 30% 0;
}
.dropdown-menu .m-avatar, .dropdown-menu .m-avatar img, .dropdown-menu .uploader {
    border-radius: 3px;
}
.m-avatar {
  height: 74px; 
  width: 74px; 
  background: none;
}
.m-avatar img {
  display:block;
  width:74px;
  height:74px;
}
.dropdown-menu .text {
    float: left;
    width: 180px;
    font-family: "Open Sans",open-sans,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    color: #5f697a;
}
.dropdown-menu h2 {
    font-size: 16px;
    color: #4b5362;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
    font-family: inherit;
}
.dropdown-menu .button {
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .4px;
    background: #FF4070;
    border-radius: 2px;
    border: 1px solid #ff3187;
    width: 113px;
    text-align: center;
    padding: 5px 0;
    vertical-align: middle;
    zoom: 1;
}
.dropdown-menu p {
    color: #8799b6;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dropdown-menu .uploader {
  z-index: 1;
  height: 74px;
  width: 74px;
  position: absolute;
  background: 0 0;
  cursor: pointer;
}
.dropdown-menu a {
  padding: 3px 15px;
  font-weight: 400;
  line-height: 17px;
  color: #333;
  white-space: nowrap;
  outline: 0;
  display: block;
}
.dropdown-menu .text p {
  margin: 0 0 8.5px;
}
a {
  text-decoration: none;
  -webkit-transition: color .2s ease,background-color .2s ease,border-color .2s ease;
  transition: color .2s ease,background-color .2s ease,border-color .2s ease;
}
.content {
  transition: opacity .4s ease,transform .4s cubic-bezier(.7,0,.3,1);
  transform: translate3d(0,0,0);
  float: left;
  clear: both;
  margin: 33px 0 23px;
}
.links {
  border-top: 1px solid #e8e9ea;
  float: left;
  clear: both;
  width: 100%;
  margin: 24px 0 0;
  padding: 12px 0 0;
}
.links a {
  text-transform: uppercase;
  font-size: 12px;
  color: #6f7685;
  font-weight: 400;
  letter-spacing: .8px;
}
.dropdown-menu .new-tag {
  color: #f36;
  font-size: 7px;
  border: 1px solid #f36;
  border-radius: 2px;
  padding: 1px 5px;
  margin: 0 0 0 5px;
  top: -1px;
  position: relative;
  text-transform: lowercase;
}
.account-settings {
  /*background-image: url(./img/ic_account_circle_white_24px.svg);*/
}

#main-nav-wrapper {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    border-bottom: solid 1px #e4e4e4;
}
.header-icon {
  padding: 0 14px;
}

.header-spacer {
  flex: 1 1 auto;
}
a {
  color:#fafafa;
}
header .search-box input[type="text"], header .search input[type="text"], .header .search-box input[type="text"], .header .search input[type="text"] {
  border: none;
  background: none;
  color: #fafafa;
  padding: 0;
  vertical-align: middle;
}
header .search-box label input, header .search label input, .header .search-box label input, .header .search label input {
  line-height: 24px;
}

input[type=text] {
  transition: background-size 0.2s ease;
  display: inline-block;
  min-width: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: none;
  height: 24px;
}

.sub-nav, .subnav {
  display: hidden;
  box-shadow: 0 -1px 0 #ccc inset;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  height: 36px;
}
@media screen and (min-width: 720px) {
  .sub-nav, .subnav {
    display: flex;
  }
  .subnav-hidden {
    display: flex
  }
  /*TODO: Fix subnav visibility*/
}

ul {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.nav .nav-item {
  display: inline-block;
  margin-right: 24px;
}
li {
  text-align: -webkit-match-parent;
}
.mat-toolbar {
  padding:0;
}
.nav-link .menu {
  margin-left: 16px
}
.edge-icon {
  margin-right: 16px
}