<div class="spinner">
  <md-progress-bar
      class="spinner-md" 
      *ngIf="loading===true"
      mode="indeterminate">
      Loading...
  </md-progress-bar>
</div>
<div class="full-container">
  <div class="login-wrapper">
      <form class="login" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <img class="logo" src="../assets/images/logo.png" alt="logo" width=85px height=85px>
        <label class="title">
            Turner<span class="trademark">&#174;</span> Cinema
        </label>
        <div class="login-group">
          <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <md-input-container>
              <input mdInput placeholder="Email Address" type="text" class="form-control" id="login_username" name="username" placeholder="Username" [(ngModel)]="model.username" #username="ngModel" required />
            </md-input-container>
            <div *ngIf="f.submitted && !username.valid" class="help-block">
                Username is required
            </div>
          </div>
          <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <md-input-container>
              <input mdInput placeholder="Password" type="password" class="password" id="login_password" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password" />
            </md-input-container>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
          </div>
          <div class="checkbox">
              <input type="checkbox" id="rememberme">
              <label for="rememberme" class="rememberme">
                  Remember me
              </label>
          </div>
          <button md-raised-button [disabled]="loading" type="submit" class="btn btn-primary">LOG IN</button>
          <div *ngIf="error" class="error active">
              {{error}}
          </div>
        </div>
        <a href="mailto:brucebigirwenkya@gmail.com" target="_blank" rel="noopener" class="signup">Contact admin for registration</a>
      </form>
  </div>
</div>

