<div class="popover popover--menu popover--globalNav u-resetSpectrum popover--bottom u-fixed" data-action-scope="_actionscope_23" style="left: 910px; top: 50px; box-sizing: border-box; width: 390px;">
  <div class="popover-inner u-padding0 u-width360 u-maxWidthNone" style="height: 533px;">
    <ul role="menu" class="notificationsList " data-action-scope="_actionscope_17">
      <li class="notificationsList-item u-hideOutline ">
        <div class="notificationsList-userAvatarIcon">
          <a class="link avatar u-baseColor--link" href="https://medium.com/@poornima" tabindex="-1" data-action="show-user-card" data-action-value="ebd37a9be319" data-action-type="hover" data-tooltip="Poornima Vijayashanker" data-user-id="ebd37a9be319" dir="auto">
            <img src="././assets/images/0-uNIoZx5zLkLqTcNA.jpeg" class="avatar-image u-size36x36 u-xs-size32x32" alt="Poornima Vijayashanker">
          </a>
        </div>
        <a class="notificationsList-button" tabindex="-1" role="menuitem" href="https://medium.com/@poornima?source=activity---users_following_you" data-action="open-notification" data-activity-type="users_following_you" data-activity-actor-ids="ebd37a9be319">
          <span class="notificationsList-author">Poornima Vijayashanker </span>started following you
          <div class="notificationsList-timestamp">Dec 12, 2016</div>
        </a>
      </li>
      <li class="u-clearfix notificationsList-actions js-notificationsActions">
        <span class="u-floatLeft">
          <button class="button button--chromeless u-baseColor--buttonNormal js-showMoreNotifications" data-action="notifications-more">Older notifications</button>
        </span>
      </li>
    </ul>
  </div>
  <div class="popover-arrow" style="left: 195px;"></div>
</div>